// Codefresh Code Style - eslint ruleset
// Based on AirBnB.
//
// More details: https://codefresh-io.atlassian.net/wiki/display/COD/Code+Style+Guide
{

  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 1
      }
    ],
    "func-names": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "max-len": [
      2,
      {
        "code": 150,
        "tabWidth": 4,
        "ignoreUrls": true
      }
    ],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-else-return": "off",
    "arrow-body-style": "off",
    "strict": [
      "error",
      "global"
    ],
    "no-multi-spaces": "off",
    "padded-blocks": "off",
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ],
    "guard-for-in": "error",
    "no-console": "off",
    "comma-dangle": ["error", "only-multiline"],
    "quote-props": ["error", "consistent"]
  }
}
